template(name="listings")
    .listings
        .listings_channels
            h2.listings_header Channels
            ul.channel_list
                +channel

        .listings_direct-messages
        p.disclaimer This demo is not created by, affiliated with, or supported by Slack Technologies, Inc.

