template(name="message")
    .message
        a.message_profile-pic(href="")
        a.message_username(href="") {{usernameFromId user}}
        span.message_timestamp {{timestampToTime timestamp}}
        span.message_star
        span.message_content #{text}


