template(name="message")
    .message
        a.message_profile-pic(href="")
        a.message_username(href="") scotch
        span.message_timestamp 1:31 AM
        span.message_star
        span.message_content #{text}


